.bundle
.byebug_history
.byebug_history
.env
.env.local
log/*
tmp/*
storage/*
public/packs
public/packs-test
node_modules
yarn-error.log
coverage/
*.swp
*.swo
.DS_Store
*.log
*.pid
*.seed
*.out
*.err
.history
.vscode
.idea
*.iml
